version: '2'
services:
  php:
    build: ./docker/php/
    environment:
      TIMEZONE: Europe/Kiev
    volumes:
      - ./docker/php/php.ini:/usr/local/etc/php/php.ini:ro
      - ./app:/var/www/app
    working_dir: /var/www/app

  webserver:
    image: nginx:1.11
    depends_on:
      - php
    volumes_from:
      - php
    volumes:
      - ./docker/nginx/app.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - 8080:80
  db:
      image: mysql:5.7
      environment:
        MYSQL_DATABASE: wiki
        MYSQL_USER: root
        MYSQL_PASSWORD: root
      ports:
        - "9906:3306"

  composer:
    image: composer:1.4
    volumes_from:
      - php
    working_dir: /var/www/app